*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.avro filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.lz4 filter=lfs diff=lfs merge=lfs -text
*.mds filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
# Audio files - uncompressed
*.pcm filter=lfs diff=lfs merge=lfs -text
*.sam filter=lfs diff=lfs merge=lfs -text
*.raw filter=lfs diff=lfs merge=lfs -text
# Audio files - compressed
*.aac filter=lfs diff=lfs merge=lfs -text
*.flac filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
# Image files - uncompressed
*.bmp filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.tiff filter=lfs diff=lfs merge=lfs -text
# Image files - compressed
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text
# Video files - compressed
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.webm filter=lfs diff=lfs merge=lfs -text
live_dataset.zip.001 filter=lfs diff=lfs merge=lfs -text
live_dataset.zip.002 filter=lfs diff=lfs merge=lfs -text
live_dataset.zip.003 filter=lfs diff=lfs merge=lfs -text
live_dataset.zip.004 filter=lfs diff=lfs merge=lfs -text
live_dataset.zip.005 filter=lfs diff=lfs merge=lfs -text
live_dataset.zip.006 filter=lfs diff=lfs merge=lfs -text
live_dataset.zip.007 filter=lfs diff=lfs merge=lfs -text
live_dataset.zip.008 filter=lfs diff=lfs merge=lfs -text
live_dataset.zip.009 filter=lfs diff=lfs merge=lfs -text
live_dataset.zip.010 filter=lfs diff=lfs merge=lfs -text
live_dataset.zip.011 filter=lfs diff=lfs merge=lfs -text
live_dataset.zip.012 filter=lfs diff=lfs merge=lfs -text
live_dataset.zip.013 filter=lfs diff=lfs merge=lfs -text
live_dataset.zip.014 filter=lfs diff=lfs merge=lfs -text
live_dataset.zip.015 filter=lfs diff=lfs merge=lfs -text
live_dataset.zip.016 filter=lfs diff=lfs merge=lfs -text
live_dataset.zip.017 filter=lfs diff=lfs merge=lfs -text
live_dataset.zip.018 filter=lfs diff=lfs merge=lfs -text
live_dataset.zip.019 filter=lfs diff=lfs merge=lfs -text
live_dataset.zip.020 filter=lfs diff=lfs merge=lfs -text
live_dataset.zip.021 filter=lfs diff=lfs merge=lfs -text
live_dataset.zip.022 filter=lfs diff=lfs merge=lfs -text
live_dataset.zip.023 filter=lfs diff=lfs merge=lfs -text
live_dataset.zip.024 filter=lfs diff=lfs merge=lfs -text
live_dataset.zip.025 filter=lfs diff=lfs merge=lfs -text
live_dataset.zip.026 filter=lfs diff=lfs merge=lfs -text
live_dataset.zip.027 filter=lfs diff=lfs merge=lfs -text
live_dataset.zip.028 filter=lfs diff=lfs merge=lfs -text
live_dataset.zip.029 filter=lfs diff=lfs merge=lfs -text
